html {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.image-container, .tile-container {
  width: 500px;
  height: 500px;
  border: 1px solid #dedede;
}

.image-container {
  background-image: url('./images/cat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.tile-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  top: 160px;
}

.tile {
  cursor: pointer;
  background-color: white;
  transition: all 700ms ease-in;
  background-image: url('./images/logo512.png');
  background-size: contain;
  /* transition: all 5000 ease-in; */
}

.start-intro, .reveal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.start-button, .reveal-button {
  width: 135px;
  height: 42px;
  cursor: pointer;
  border: none;
  Box-shadow: inset -1px -2px 0px 4px rgb(233 233 233);
  background-color: #f7f7f7;
  transition: all 200ms ease-in;
  font-size: 1.5em;
}

.start-button:hover, .reveal-button:hover {
  background-color: #f0f0f0;
}

h1.seconds {
  margin-bottom: 53px;
  margin-top: 70px;
}